* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.container {
  text-align: center;
}
.container form {
  margin: 20px auto;
}
.container form input {
  padding: 0 15px;
  height: 46px;
  background-color: #efefef;
  border: 1px solid #ccc;
}
.container form input:focus {
  outline: none;
}
.container form button {
  height: 48px;
  border-color: transparent;
  padding: 5px 10px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
.container form button:focus {
  outline: none;
}

.links-urls {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.links-urls .link {
  padding: 10px 20px;
  display: block;
  background-color: #eee;
  margin-bottom: 10px;
  text-decoration: none;
  color: #777;
}
